@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


:root {
  --nav-height: 54px;
  --textcolor: #000;
  --hover-bg: #f1f1f1;
  --active-bg: #dbdbdb;
  --bg-colour: #C8C2AA;
  --main-colour: #4D493E;
  font-size: calc(1rem + 0.2vw);
}

