:root {
  --nav-height: 54px;
  --textcolor: #000;
  --hover-bg: #f1f1f1;
  --active-bg: #dbdbdb;
  --bg-colour: #c8c2aa;
  --main-colour: #4d493e;
  font-size: calc(1rem + 0.2vw);
}

$xxs: 4px;
$xs: 8px;
$s: 16px;
$m: 32px;
$l: 64px;

$bg-color: #c8c2aa;
$main-color: #4d493e;

$bg-color-dark-1: #b4af99;
$bg-color-dark-2: #a09b88;
$bg-color-dark-3: #8c8877;

$bg-color-light-4: #dcd8c0;

$bg-color-light-1: #cec8b3;
$bg-color-light-2: #d3cebb;
$bg-color-light-3: #d9d4c4;
$border-color: rgb(140, 136, 119, 0.4);

$mq-xs: 0;
$mq-sm: 40rem;
$mq-md: 52rem;
$mq-lg: 64rem;

$box-shadow-color: #4D493E;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');



body {
  background-color: ($bg-color);
  background-size: 4px 4px;
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent 3px,
      rgba(0, 0, 0, 0.02) 4px
    ),
    linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.02) 4px);
  font-family: 'Fira Sans';
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($box-shadow-color, .4), inset 0 0 150px rgba($box-shadow-color, .3);
}

.header {
  background-size: 4px 4px;
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent 3px,
      rgba(0, 0, 0, 0.02) 4px
    ),
    linear-gradient(transparent, transparent 2px, rgba(0, 0, 0, 0.02) 2px);
  box-shadow: inset 0 0 150px rgba($box-shadow-color, .1), inset 0 0 150px rgba($box-shadow-color, .2);
  background-color: $bg-color-light-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &-title,
  &-search,
  &-nav {
    padding: 1rem;
    text-align: center;
  }
}

.symbol {
  font-family: 'Noto Sans Symbols', serif;
  font-optical-sizing: auto;
}
// https://fonts.google.com/noto/specimen/Noto+Sans+Symbols/glyphs

footer {
  text-align: center;
  // background-color: $bg-color-light-1;
}

.garden {
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 16px;
  }

  &-item {
    border: 3px solid $bg-color-dark-3 !important;
    border-right: none;
    border-radius: 2px;
    margin: 4px;
    text-align: center;
    padding: 16px;
    font-size: 12px;
    color: $main-color;
    max-height: 400px;

    &__date {
      margin-bottom: 12px;
      font-weight: 700;
    }

    &__title {
      font-family: "Faculty Glyphic", serif;
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__description {
    }
  }

  @media (max-width: $mq-md) {
    &-grid {
      grid-template-columns: auto;
    }
  }
}

.ticker {
  position: relative;
  font-family: 'Fira Mono';
  border: 1px solid black;
  width: 100%;

  height: 30px;
  background-color: #1c1c1c;
  color: #c8c2aa;
  overflow: hidden;

  marquee {
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
  }

  span {
    padding: 0 100px;
  }

  &__title {
    font-weight: bold;
    padding: 0 20px;
  }
}

// styling for blog posts

article.post {
  padding: $m $l;
  border-top: 2px solid $bg-color-dark-3;

  header {

      h1 {
        font-family: "Faculty Glyphic", serif;
        text-align: center;
        margin-bottom: $s;
        font-size: 48px;

        @media (max-width: $mq-md) {
         font-size: 36px;
        }
      }

      p {
        font-size: 16px;
        text-align: center;
        margin-bottom: $m;


        @media (max-width: $mq-md) {
          font-size: 14px;
         }

      }

  }

}

// #navbar {
//   z-index: 999;
//   background-color:$bg-color;
//   border-bottom: 1px solid $border-color-rgb;

//   .header {
//     &__logo {
//       border-right: 1px solid $border-color-rgb !important;
//     }
//   }
// }
